/* =============
    Base
============= */
figure{
    padding: 0;
    margin: 0;
}

ul{
    padding: 0;
    margin: 0;
    li{
        list-style: none;
    }
}

main {
    display: grid;
    grid-template-areas:
            "header"
            "creative"
            "journal"
            "footer";
}

.header {
    grid-area: header;

    img {
        width: 100%;
    }

}

.creative {
    grid-area: creative;

    ul {
        display: grid;
    }

    .creat {
        display: grid;
        grid-template-columns: 70% auto;

    }

    @include md {
        .creat {
            grid-template-columns: 70% auto;
        }
        ul {
            grid-template-columns: 100% auto;
            grid-gap: 20px;
        }
    }
}

.journal {
    grid-area: journal;

    ul {
        display: grid;
    }

    @include md {
        h1 {
            text-align: center;
            padding-bottom: 40px;
            padding-top: 30px;
        }
        ul {
            grid-template-columns: 350px 350px;
            grid-gap: 70px; 
            justify-content: center;
        }
    }
}

.footer {
    grid-area: footer;

    

    @include md {
        display: grid;

        ul {
            grid-template-columns: 1000px;
            grid-gap: 30px;
			justify-content: center;
        }
        
        h3 {
            text-align: center;
            padding-bottom: 30px;
        }

        .socials {
            padding-top: 30px;
            .social-icon {
                width: 40px;
                float: left;
            }
        }  
    }

}

